<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增招领信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 引入 Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>新增卡招领(未开放)</small>
                </h1>
            </div>
        </div>
    </div>
    <form action="/addLost" method="post">
        <div class="form-group">
            <label for="title">失物名称：</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
            <label for="typeCode">发布状态：</label>
            <select class="form-control" name="typeCode" id="typeCode">
                <option value="2">devoption2</option>
                <option value="1">devoption1</option>
            </select>
        </div>
        <div class="form-group">

            <label for="content">失物详情：</label>
            <input type="text" name="content" class="form-control" id="content">
        </div>
        <div class="form-group">
            <input type="hidden" name="cardid" th:value="${session.userId}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-defaultcontrol" value="添加">
            <a href="/toUserLost"><input type="button" class="btn btn-defaultcontrol" style="color: #0b0b0b"  value="取消"/></a>
        </div>
    </form>

</div>
</body>
</html>