<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>卡必达:招领信息展示</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>待处理的卡记录</small>
                </h1>
            </div>
        </div>
        <div class="col-md-4 column col-md-offset-10">
            <a id="logout" class="btn btn-danger" href="/logOut">注销登录</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 column">
<!--            <a class="btn btn-primary" href="${pageContext.request.contextPath}/book/toAddBook">新增</a> ?userId=' + ${session.userId} -->
            <a class="btn btn-primary" th:if="${session.userId != null}" href="/toUserLost" >查看全部 / 操作</a>
            <a class="btn btn-primary" th:if="${session.userId == null}" href="/login">登录</a>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>时间</th>
                    <th>卡机位置</th>
                    <th>用户</th>
                    <th>学号</th>
                    <th>开发中...</th>
                </tr>
                </thead>

                <tbody>
                    <tr th:each="lostrecord : ${lostRecords}" th:switch="${lostrecord.status}">
                        <td th:text="${lostrecord.title}"></td>
                        <td th:text="${lostrecord.content}"></td>
                        <td th:text="${lostrecord.userName}"></td>
                        <td th:text="${lostrecord.phone}"></td>
                        <td th:text="${lostrecord.typeCode == 1}?'devoption1':'devoption2'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<script type="text/javascript">
    var userId = $.session.get("userId");
    $(function(){
        alert(userId)
    })

</script>
</body>
</html>
