<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>新增卡必达:招领信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>修改认领卡相关信息</small>
                </h1>
            </div>
        </div>
        <div class="col-md-4 column col-md-offset-10">
            <a class="btn btn-danger" href="/logOut">注销登录</a>
        </div>
    </div>
    <form action="/updateLost" method="post">
        <input type="hidden" name="id" th:value="${record.getId()}"/>
        <div class="form-group">
            <label for="title">失物名称：</label>
            <input type="text" name="title" class="form-control" id="title" th:value="${record.getTitle()}">
        </div>
        <div class="form-group">
            <label for="typeCode">发布状态：</label>
            <select class="form-control" name="typeCode" id="typeCode" th:value="${record.getTypeCode()}">
                <option value="2">devoption2</option>
                <option value="1">devoption1</option>
            </select>
        </div>
        <div class="form-group">

            <label for="content">失物详情：</label>
            <input type="text" name="content" class="form-control" id="content" th:value="${record.getContent()}">
        </div>
        <div class="form-group">
            <input type="hidden" name="cardid" th:value="${session.userId}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-defaultcontrol" value="修改">
            <a href="/toUserLost"><input type="button" class="btn btn-defaultcontrol" style="color: #0b0b0b"  value="取消"/></a>
        </div>
    </form>

</div>
</body>
</html>